<nav class="navbar">
    <div class="nav-container">
        <ul class="nav-menu">
            <li><a href="/">Home</a></li>

            <li>
                {% if is_member %}
                <a href="/users/dashboard">Dashboard</a>
                {% endif %}
            </li>

            <li>
                {% if is_member %}
                <a href="/" class="login-btn">Logout</a>
                {% else %}
                <a href="/users/login" class="login-btn">Login / Signup</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
