fastapi[standard]==0.116.1
SQLAlchemy==2.0.43
alembic==1.16.5
PyMySQL==1.1.2
cryptography==45.0.7
python-multipart==0.0.20
black==25.1.0
flake8==7.3.0
pre-commit==4.3.0
isort==5.13.2
sqlacodegen==3.0.0
