.outer-container {
    background-color: #053D48;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #1C6663;
    width: 37.5rem; /* 600px */
    height: 20rem; /* 320px */
    display: flex;
}

.container .form-container.active {
    margin-left: 17.1875rem; /* 275px */
}

.container .form-container {
    margin-left: 1.5625rem; /* 25px */
    background-color: white;
    height: 26.875rem; /* 430px */
    width: 19.0625rem; /* 305px */
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    transition: margin-left 1.5s;
}

.container .form-container .fire {
    top: -4.6875rem; /* -75px */
    position: absolute;
    z-index: 0;
}

.container .form-container .fire svg {
    width: 18.75rem; /* 300px */
    height: auto;
    visibility: hidden;
}

.container .form-container .form-item form {
    z-index: 2;
    position: relative;
}

.container .form-container .form-item form.form-sign-up {
    margin-top: 1.875rem; /* 30px */
    display: none;
}

.container .form-container .form-item form input {
    display: block;
    padding: 0.625rem; /* 10px */
    width: 15.625rem; /* 250px */
    margin-top: 0.3125rem; /* 5px */
    margin-bottom: 0.625rem; /* 10px */
    margin-left: 0.3125rem; /* 5px */
    margin-right: 0.3125rem; /* 5px */
}

.container .form-container .form-item form .btn {
    cursor: pointer;
    display: block;
    padding: 0.625rem; /* 10px */
    width: 17.125rem; /* 274px */
    margin: 0.3125rem; /* 5px */
    text-align: center;
    border: 0.125rem solid #1C6663; /* 2px */
    background-color: #1C6663;
    color: white;
    opacity: 1;
    font-family: 'Roboto';
    font-size: 0.875rem; /* 14px */
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.container .form-container .form-item form .btn:hover {
    opacity: 0.7;
}

.container .info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.container .info-container .info-item {
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.25rem; /* 20px */
    position: relative;
    z-index: 1;
}

.container .info-container .log-in {
    text-align: center;
    margin-right: 2.5rem; /* 40px */
}

.container .info-container .sign-up {
    margin-left: 2.5rem; /* 40px */
    text-align: center;
}

.container .info-container .btn {
    cursor: pointer;
    background-color: transparent;
    width: 3.75rem; /* 60px */
    padding: 0.625rem 0.9375rem; /* 10px 15px */
    border: 0.0625rem solid white; /* 1px */
    font-size: 1rem; /* 16px */
    opacity: 1;
}

.container .info-container .btn:hover {
    opacity: 0.7;
}

.tree {
    height: auto;
    width: 18.75rem; /* 300px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    bottom: 1.875rem; /* 30px */
}

.tree .leaves {
    z-index: 1;
    animation-delay: 0.5s;
    animation-duration: 1s;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.25rem 6.25rem 6.25rem; /* 0 100px 100px 100px */
    border-radius: 30%;
    border-color: transparent transparent #6B8E23 transparent;
    position: relative;
    bottom: 2.5rem; /* 40px */
}

.tree .leaves:before {
    content: " ";
    border-style: solid;
    border-width: 0 4.0625rem 6.25rem 4.0625rem; /* 0 65px 100px 65px */
    border-radius: 30%;
    border-color: transparent transparent #6B8E23 transparent;
    position: absolute;
    left: -4.0625rem; /* -65px */
    top: -6.25rem; /* -100px */
}

.tree .leaves:after {
    content: " ";
    border-style: solid;
    border-width: 0 5.3125rem 6.25rem 5.3125rem; /* 0 85px 100px 85px */
    border-radius: 30%;
    border-color: transparent transparent #6B8E23 transparent;
    position: absolute;
    left: -5.3125rem; /* -85px */
    top: -3.125rem; /* -50px */
}

.tree .trunk {
    z-index: 0;
    width: 6.25rem; /* 100px */
    height: 3.125rem; /* 50px */
    background-color: #8B4513;
    position: absolute;
    bottom: 0;
}

.login-message {
    background-color: #d4edda;
    color: #155724;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0.625rem; /* 10px */
}
